* {
    background-color: black;
    color: seashell;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    box-sizing: border-box;
    width: 100%;
    height: 69px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-child {
    display: inline-flex;
    align-items: center;
    height: 80%;
}

.header-child img {
    height: 50px;
}

nav a {
    padding-left: 20px;
    text-decoration: underline;
}

nav a:hover {
    color: pink;
}


body {
    margin-top: 69px;
}

/*BANNER*/
.banner-container {
    background-image: url(./images/img-mission-background.jpg);
    background-color: white;
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}

.banner-container-child {
    background-color: black;
    width: 1200px;
}

/*TEA MONTH*/
#tea-month {
    padding-top: 69px;
    margin: auto;
}

.tea-month-container {
    width: 1000px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.tea-month-child {
    margin: 10px;
    width: 300px;
    height: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
}

.tea-month-grandchild {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: space-around;
    opacity: 1;
}

.tea-month-img {
    height: 200px;
    min-width: 100%;
    margin-bottom: 10px;
}

/*LOCATIONS*/
.locations-parent {
    background-image: url(./images/img-locations-background.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: flex-end;
    width: 1200px;
    height: 500px;
    margin: auto;
}

.locations-child {
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: center;
    text-align: center;
    opacity: 1;
    margin-bottom: 100px;
}


.locations-grand-child {
    background: rgb(0, 0, 0);
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.locations-great-grand-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.no-background {
    background-color: rgba(240, 248, 255, 0);
}



/**/



.the-tea-cozy {
    height: 200px;
    margin: auto;
}

footer {
    text-align: left;
    margin-left: 20px;
}
